*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    margin-top: 1rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    margin-left: 2rem;
    margin-right: 2rem;
}
.heading {
    margin-bottom: 2rem;
    color: orange;
}

/* Message */
.flash-message {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    color: white;
    font-weight: bold;
    text-align: center;
    z-index: 9999;
    width: 100%;
}

.flash-message.success {
    background-color: #4CAF50;
}

.flash-message.error {
    background-color: #f44336;
}

.flash-message-close {
    position: absolute;
    top: 5px;
    right: 10px;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}
#hideMe {
    -webkit-animation: cssAnimation 5s forwards;
    animation: cssAnimation 5s forwards;
}
@keyframes cssAnimation {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}
@-webkit-keyframes cssAnimation {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}






/*******************************/
/********* General CSS *********/
/*******************************/
body {
    color: #757575;
    background: #ffffff;
    font-family: 'open sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #454545;
    font-family: 'Nunito', sans-serif;
}

a {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    color: #fbaf32;
    transition: .3s;
}

a:hover,
a:active,
a:focus {
    color: #719a0a;
    outline: none;
    text-decoration: none;
}

.btn.custom-btn {
    padding: 12px 25px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    background: #fbaf32;
    border: 2px solid #fbaf32;
    border-radius: 5px;
    transition: .5s;
}

.btn.custom-btn:hover {
    color: #fbaf32;
    background: transparent;
}

.btn.custom-btn:focus,
.form-control:focus,
.custom-select:focus {
    box-shadow: none;
}

.container-fluid {
    max-width: 1366px;
}

.back-to-top {
    position: fixed;
    display: none;
    background: #fbaf32;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 22px;
    right: 15px;
    bottom: 15px;
    border-radius: 5px;
    transition: background 0.5s;
    z-index: 9;
}

.back-to-top i {
    color: #ffffff;
    padding-top: 10px;
}

.back-to-top:hover {
    background: #719a0a;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-size: inherit;
    margin-left: 0;
}


/**********************************/
/*********** Nav Bar CSS **********/
/**********************************/
.navbar {
    position: relative;
    transition: .5s;
    z-index: 999;
}

.navbar.nav-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
}

.navbar .navbar-brand {
    margin: 0;
    color: #fbaf32;
    font-size: 45px;
    line-height: 0px;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
    transition: .5s;

}

.navbar .navbar-brand span {
    color: #719a0a;
}

.navbar .navbar-brand:hover {
    color: #fbaf32;
}

.navbar .navbar-brand:hover span {
    color: #fbaf32;
}

.navbar .navbar-brand img {
    max-width: 100%;
    max-height: 40px;
}

.navbar .dropdown-menu {
    margin-top: 0;
    border: 1;
    border-radius: 0;
    background: #D2B4DE;
}

@media (min-width: 992px) {
    .navbar {
        position: absolute;
        width: 100%;
        padding: 30px 60px;
        background: transparent !important;
        z-index: 9;
    }

    .navbar.nav-sticky {
        padding: 10px 60px;
        background: #ffffff !important;
    }

    .navbar .navbar-brand {
        color: #fbaf32;
    }

    .navbar.nav-sticky .navbar-brand {
        color: #fbaf32;
    }

    .navbar-light .navbar-nav .nav-link,
    .navbar-light .navbar-nav .nav-link:focus {
        padding: 10px 10px 8px 10px;
        font-family: 'Nunito', sans-serif;
        color: #3498DB;
        font-size: 18px;
        font-weight: 600;
    }

    .navbar-light.nav-sticky .navbar-nav .nav-link,
    .navbar-light.nav-sticky .navbar-nav .nav-link:focus {
        color: #666666;
    }

    .navbar-light .navbar-nav .nav-link:hover,
    .navbar-light .navbar-nav .nav-link.active {
        color: #fbaf32;
    }

    .navbar-light.nav-sticky .navbar-nav .nav-link:hover,
    .navbar-light.nav-sticky .navbar-nav .nav-link.active {
        color: #fbaf32;
    }
}

@media (max-width: 991.98px) {
    .navbar {
        padding: 15px;
        background: #ffffff !important;
    }

    .navbar .navbar-brand {
        color: #fbaf32;
    }

    .navbar .navbar-nav {
        margin-top: 15px;
    }

    .navbar a.nav-link {
        padding: 5px;
    }

    .navbar .dropdown-menu {
        box-shadow: none;
    }
}

.input-box input,select{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: none;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}


/*******************************/
/******* Page Header CSS *******/
/*******************************/
.page-header {
    position: relative;
    margin-bottom: 45px;
    padding: 150px 0 90px 0;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../img/page-header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-header h2 {
    position: relative;
    color: #fbaf32;
    font-size: 60px;
    font-weight: 700;
}

.page-header a {
    position: relative;
    padding: 0 12px;
    font-size: 20px;
    text-transform: uppercase;
    color: #ffffff;
}

.page-header a:hover {
    color: #ffffff;
}

.page-header a::after {
    position: absolute;
    content: "/";
    width: 8px;
    height: 8px;
    top: -1px;
    right: -7px;
    text-align: center;
    color: #fbaf32;
}

.page-header a:last-child::after {
    display: none;
}

@media (max-width: 767.98px) {
    .page-header h2 {
        font-size: 35px;
    }

    .page-header a {
        font-size: 18px;
    }
}


/*******************************/
/******* Section Header ********/
/*******************************/
.section-header {
    position: relative;
    margin-bottom: 45px;
}

.section-header p {
    color: #719a0a;
    margin-bottom: 5px;
    position: relative;
    font-size: 20px;
}

.section-header h2 {
    margin: 0;
    position: relative;
    font-size: 45px;
    font-weight: 700;
}

@media (max-width: 991.98px) {
    .section-header h2 {
        font-size: 40px;
        font-weight: 600;
    }
}

@media (max-width: 767.98px) {
    .section-header h2 {
        font-size: 35px;
        font-weight: 600;
    }
}

@media (max-width: 575.98px) {
    .section-header h2 {
        font-size: 30px;
        font-weight: 600;
    }
}

/**********************************/
/*********** Sidebar CSS **********/
/**********************************/
.sidebar {
    position: relative;
    width: 100%;
}

@media(max-width: 991.98px) {
    .sidebar {
        margin-top: 45px;
    }
}

.sidebar .sidebar-widget {
    position: relative;
    margin-bottom: 45px;
}

.sidebar .sidebar-widget .widget-title {
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 5px;
    font-size: 25px;
    font-weight: 700;
}

.sidebar .sidebar-widget .widget-title::after {
    position: absolute;
    content: "";
    width: 60px;
    height: 2px;
    bottom: 0;
    left: 0;
    background: #fbaf32;
}

.sidebar .sidebar-widget .search-widget {
    position: relative;
}

.sidebar .search-widget input {
    height: 50px;
    border: 1px solid #dddddd;
    border-radius: 5px;
}

.sidebar .search-widget input:focus {
    box-shadow: none;
}

.sidebar .search-widget .btn {
    position: absolute;
    top: 6px;
    right: 15px;
    height: 40px;
    padding: 0;
    font-size: 25px;
    color: #fbaf32;
    background: none;
    border-radius: 0;
    border: none;
    transition: .3s;
}

.sidebar .search-widget .btn:hover {
    color: #719a0a;
}

.sidebar .sidebar-widget .recent-post {
    position: relative;
}

.sidebar .sidebar-widget .tab-post {
    position: relative;
}

.sidebar .tab-post .nav.nav-pills .nav-link {
    color: #ffffff;
    background: #fbaf32;
    border-radius: 0;
}

.sidebar .tab-post .nav.nav-pills .nav-link:hover,
.sidebar .tab-post .nav.nav-pills .nav-link.active {
    color: #ffffff;
    background: #719a0a;
}

.sidebar .tab-post .tab-content {
    padding: 15px 0 0 0;
    background: transparent;
}

.sidebar .tab-post .tab-content .container {
    padding: 0;
}

.sidebar .sidebar-widget .category-widget {
    position: relative;
}

.sidebar .category-widget ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar .category-widget ul li {
    margin: 0 0 12px 22px;
}

.sidebar .category-widget ul li:last-child {
    margin-bottom: 0;
}

.sidebar .category-widget ul li a {
    display: inline-block;
    line-height: 23px;
}

.sidebar .category-widget ul li::before {
    position: absolute;
    content: '\f105';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #fbaf32;
    left: 1px;
}

.sidebar .category-widget ul li span {
    display: inline-block;
    float: right;
}

.sidebar .sidebar-widget .tag-widget {
    position: relative;
    margin: -5px -5px;
}

.single .tag-widget a {
    margin: 5px;
    display: inline-block;
    padding: 7px 15px;
    font-size: 14px;
    font-weight: 400;
    color: #fbaf32;
    border: 1px solid #dddddd;
    border-radius: 5px;
}

.single .tag-widget a:hover {
    color: #ffffff;
    background: #fbaf32;
    border-color: #fbaf32;
}

.sidebar .image-widget {
    display: block;
    width: 100%;
    overflow: hidden;
}

.sidebar .image-widget img {
    max-width: 100%;
    transition: .3s;
}

.sidebar .image-widget img:hover {
    transform: scale(1.1);
}
/*******************************/
/********* Menu Edit CSS **********/
/*******************************/
.edit-container{
    height: 100%;
    width: 500px;
    margin: auto;
    background-color: white;
    box-shadow: 8px 8px 20px rgb(128, 128, 128);
    position: relative;
    overflow: hidden;
    text-align: center;
    margin-bottom: 0.3rem;
    justify-content: center;
}
.btn-container-edit{
    display: block;
    height: 38px;
    width: 500px;
    margin: auto;
    background-color: white;
    box-shadow: 8px 8px 20px rgb(128, 128, 128);
    position: relative;
    overflow: hidden;
    margin-bottom: 2rem;
    justify-content: center;
}
.btn-container{
    height: 38px;
    width: 190px;
    margin: auto;
    background-color: white;
    box-shadow: 8px 8px 20px rgb(128, 128, 128);
    position: relative;
    overflow: hidden;
    margin-bottom: 2rem;
    justify-content: center;

}
.btn-container button{
    border:none;
    border-radius: 0.1rem;
    text-color: #black;
    margin-left:1rem;
}
.btn1 {background-color: #008CBA;
    margin-left: 2.2rem;
    margin-top: 0.5rem;
    width: 120px;
}
.btn2 {background-color: #4CAF50;
    margin-left: 1.2rem;
    margin-top: 0.5rem;
    width: 70px;
} /* Blue */
.btn3 {background-color: #F1C40F;
    margin-top: 0.5rem;
    width: 70px;
} /* Red */
.btn4 {background-color: #f44336;
    margin-top: 0.5rem;
    width: 60px;
}

.table-container{
    height: 100%;
    width: 600px;
    margin: auto;
    background-color: white;
    box-shadow: 8px 8px 20px rgb(128, 128, 128);
    position: relative;
    overflow: hidden;
    margin-bottom: 2rem;
    justify-content: center;
}
.inp-menu{
    border-bottom: 1rem;
}
/*******************************/
/********** Table CSS ***********/
/*******************************/
.table{
	width: 100%;
	border-collapse: collapse;
}

.form-control input:invalid{
    border: none;
    animation: shake 0.2s 2;
}

@keyframes shake{
    25% {
        translate: 6px 0;
    }
    50% {
        translate: -6px 0;
    }
    75% {
        translate: 6px 0;
    }
}

.table td,.table th{
  padding:12px 15px;
  border:1px solid #ddd;
  text-align: center;
  font-size:16px;
}

.table th{
	background-color: darkblue;
	color:#ffffff;
}

.table tbody tr:nth-child(even){
	background-color: #f5f5f5;
}

/*responsive*/

@media(max-width: 500px){
	.table thead{
		display: none;
	}

	.table, .table tbody, .table tr, .table td{
		display: block;
		width: 100%;
	}
	.table tr{
		margin-bottom:15px;
	}
	.table td{
		text-align: right;
		padding-left: 50%;
		text-align: right;
		position: relative;
	}
	.table td::before{
		content: attr(data-label);
		position: absolute;
		left:0;
		width: 50%;
		padding-left:15px;
		font-size:15px;
		font-weight: bold;
		text-align: left;
	}
}
tr:hover {
    background-color: #D6EEEE;
}

.table tbody tr:nth-child(odd){
	background-color: #f5f5f5;
}

.table tbody tr:nth-child(even){
	background-color: #f5f5f5;
}

input:invalid{
    border: none;
    animation: shake 0.2s 2;
}

@keyframes shake{
    25% {
        translate: 6px 0;
    }
    50% {
        translate: -6px 0;
    }
    75% {
        translate: 6px 0;
    }
}
.search-container {
  float: right;
}

input[type=text],[type=number] {
  padding: 2px;
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 17px;
  border-bottom: 1px solid;
}

.search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
.search-container {
    float: none;
  }
.a, input[type=text],[type=number],  .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 10%;
    margin: 0;
    padding: 14px;
  }
input[type=text],[type=number] {
    border: none;
    border-bottom: 2px solid #dddddd;
  }
}
#edit-id{
    margin-left: 3.5rem;
}
#edit-price{
    margin-left: 0.5rem;
}

/*******************************/
/********* Cart CSS **********/
/*******************************/

.shop{
    height: 100%;
    width: 500px;
    margin: auto;
    background-color: white;
    box-shadow: 8px 8px 20px rgb(128, 128, 128);
    position: relative;
    overflow: hidden;
    margin-bottom: 2rem;
    justify-content: center;
}
.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input, .form-group input,select{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #9b59b6;
}


 form .button{
   height: 45px;
   margin: 35px 0
 }
 form .button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #71b7e6, #9b59b6);
 }
 form .button input:hover{
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
  }
 @media(max-width: 584px){
 .container{
  max-width: 100%;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }

  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .container .content .category{
    flex-direction: column;
  }
}
