<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="/static/css/admin_style.css" rel="stylesheet">
    <style>
        body{
            background: rgb(202,212,44);
background: radial-gradient(circle, rgba(202,212,44,1) 0%, rgba(2,0,36,1) 100%);
        }
    </style>
</head>
<body>

<!-- Nav Bar Start -->
        <div class="navbar navbar-expand-lg bg-light navbar-light">
            <div class="container-fluid">
                <a href="/dessert_edit" class="navbar-brand">Dessert Menu Details</a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav ml-auto">
                        <a href="/veg_edit" class="nav-item nav-link">Veg</a>
                        <a href="/nonveg_edit" class="nav-item nav-link">Non-Veg</a>
                        <a href="/counter" class="nav-item nav-link">Home</a>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br><br><br>
        <!-- Nav Bar End -->
<div class="container-fluid">
        <div class="row">
            <div class="col-sm-2"></div>

            <!-- content goes here -->
            <div class="col-sm-8">
<h2 style="color:White;">Dish List <button class="btn btn-primary float-right" data-toggle="modal" data-target="#myModal">Add Dish</button></h2>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="flash-message {{ category }}" id="hideMe">
                <span>{{ message }}</span>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}



    <!-- Enter New Student Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title text-primary" style="align-content: center;">Please Add New Dish</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>


                <div class="modal-body">

                    <form action="{{ url_for('insertdessert')}}" method="POST">
                        <div class="form-group">
                          <label>Name</label>
                          <input type="text" name="name" class="form-control" id="name" placeholder="Enter Dish Name">
                        </div>
                        <div class="form-group">
                            <label>Price</label>
                            <input name="price" type="number" class="form-control" id="price" placeholder="Enter Dish Price">
                        </div>

                          <button type="submit" class="btn btn-primary mb-2">Save</button>

                      </form>


                </div>
            </div>
        </div>

    </div>


    <!-- End of Enter New Student Modal -->




<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for dish in data %}
        <tr>
        <td>{{dish[0]}}</td>
        <td>{{dish[1]}}</td>
        <td>{{dish[2]}}</td>
        <td>
            <a href="/updatedessert/{{dish.0}}" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#modaledit{{dish.0}}">Edit</a>
            <a href="/deletedessert/{{ dish.0 }}" onclick="return confirm('Are Sure Want To Deleted ?')" class="btn btn-danger btn-sm">Delete</a>

        </td>
    </tr>


        <!-- Enter New Student Modal -->
        <div id="modaledit{{dish.0}}" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title text-primary" style="align-content: center;">Update Details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>


                    <div class="modal-body">

                        <form action="{{ url_for('updatedessert')}}" method="POST">
                            <input type="hidden" name="id" id="edit-id" value="{{dish.0}}">
                            <div class="form-group">
                              <label>Name</label>
                              <input value="{{dish.1}}" type="text" name="name" class="form-control" id="edit-name" placeholder="Enter Dish Name">
                            </div>

                            <div class="form-group">
                                <label>Price</label>
                                <input value="{{dish.2}}" name="price" type="number" class="form-control" id="edit-price" placeholder="Enter Dish Number">
                            </div>

                              <button type="submit" class="btn btn-success mb-2">Update</button>

                          </form>


                    </div>
                </div>
            </div>

        </div>


        <!-- End of Edit Student Modal -->




        {% endfor %}
    </tbody>

</table>
            </div>
            <!-- Content ends here-->


            <div class="col-sm-2"></div>

        </div>
    </div>
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
 <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
