<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <title> CustomerRegistration </title>
        <link rel="stylesheet" href="/static/css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="/static/js/script.js"></script>
    </head>
<body>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="flash-message {{ category }}" id="hideMe">
                <span>{{ message }}</span>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
    <div class="container">
        <div class="title">Verification</div>
            <div class="content">
                <form action="/forget_password" method="post">
                    <div class="user-details">
                        <div class="input-box">
                            <span class="details">Phone Number</span>
                            <input type="tel" name="number" id="number" placeholder="Enter your number" pattern="[6-9]{1}[0-9]{9}" required>
                        </div>
                    </div>
                    <div class="button">
                        <input type="submit" value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
