<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <title> Staff Registration </title>
        <link rel="stylesheet" href="/static/css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="/static/js/script.js"></script>
    </head>
<body>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="flash-message {{ category }}" id="hideMe">
                <span>{{ message }}</span>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
    <div class="container">
        <div class="title">Registration</div>
            <div class="content">
                <form action="/staff_regist" method="post">
                    <div class="user-details">
                        <div class="input-box">
                            <span class="details">Staff Name</span>
                            <input type="text" name="name" id="name" placeholder="Enter staff name." pattern="^[a-zA-Z]+(\s[a-zA-Z]+){1,2}$" required>
                        </div>
                        <div class="input-box">
                            <span class="details">Staff Mobile Number</span>
                            <input type="number" name="number" id="number" placeholder="Enter staff mobile number."  required>
                        </div>
                        <div class="input-box">
                            <span class="details">Address</span>
                            <input type="text" name="addr" id="addr" placeholder="Enter staff address." required>
                        </div>
                    </div>
                    <div class="button">
                        <input type="submit" value="Register">
                    </div>
                    <p><a href="/counter">Home</a></p>
                </form>
            </div>
    </div>
</body>
</html>
